/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Tilt+Prism&display=swap');
*{
  background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=1147&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.Menu{
  /* color: white; */
 
  font-weight: 300;
}
.head{
  color: white;
  font-family: 'Tilt Prism', cursive;
  font-weight: 300;
  font-size:3rem;
  padding: 2rem 2rem;
 
}
.Left1{
  font-size: 1.5rem;
  display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 margin-top: 7rem;
 font-family: 'Source Code Pro', monospace;


}
.button1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5rem;
}
.SidebarCreate_anonButton-NtSrZ {
  margin: 0 auto;
  width: calc(30% - 2.75rem); 
  text-align: center;
  padding: 0.875rem 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--cp-color-1);
  color:white;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 3px;
  content: "";
    position: absolute;
    text-align: center;
    align-items: center;
   line-height: 2rem;
   text-size-adjust:inherit;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
   
    animation:0.75s linear infinite;
  }
a:hover, a:focus {
  cursor: pointer;

}

/* .personal{
  color:white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */