
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Tilt+Prism&display=swap');
html,body,#root{
  height: 100%;
  width:100%;
}
.land{
  background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=1147&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.Menu{
  /* color: white; */
 
  font-weight: 300;
}
.head{
  color: white;
  font-family: 'Tilt Prism', cursive;
  font-weight: 300;
  font-size:3rem;
  padding: 2rem 2rem;
 
}
.Left1{
  font-size: 1.5rem;
  display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 margin-top: 7rem;
 font-family: 'Source Code Pro', monospace;


}
.button1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5rem;
}
.Buttonin {
  margin: 0 -13rem;
  width: calc(30% - 2.75rem); 
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--cp-color-1);
  color:white;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 0.3rem;
  content: "";
    position: absolute;
    text-align: center;
    align-items: center;
   line-height: 2rem;
   text-size-adjust:inherit;
    /* border-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b); */
   border-width: 0.25rem; 
  
   border-image:linear-gradient(to right, rgb(228, 228, 26), rgb(202, 117, 187),rgb(103, 75, 169),rgb(16, 9, 194))1;
   border-style: solid;
    animation:0.75s linear infinite;
    
  }
a:hover, a:focus {
  cursor: pointer;

}
button:active{
  transform:translate(0,0.3rem);
}

/* .personal{
  color:white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.Codepage{
  background-color: white;
}
.CodeMirror{
  height:24rem !important;
  color:#fff;
}
.CodeMirror-gutters{
  background:#1d1e22  !important;
}
.CodeMirror-scroll{
  background:#1d1e22!important;

}